.createTaskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px outset black;
    border-radius: 5px;
    background-color: var(--background-color);
    padding-top: 20px;
}

.createTaskForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.createTaskForm p {
    background-color: var(--message-color);
    width: 90%;
    border-radius: 5px;
    padding: 5px 0 5px 0;
}

.createTaskForm a {
    font-weight: bold;
    text-decoration: none;
}

.createTaskForm label {
    margin-bottom: 5px;
}

.createTaskForm input,
.createTaskForm textarea {
    margin-bottom: 10px;
}

#taskTitle {
    font-size: 14px;
}

button {
    margin: 0 0 10px 0;
    width: 80%;
    padding: 10px;
}

.createTaskForm input,
.createTaskForm button {
    width: 80%;
}

.createTaskForm button {
    background-color: var(--button-color);
}


@media (max-width: 600px) {
    .createTaskForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .createTaskForm form {
        width: 100%;
    }

    .createTaskForm p {
        width: 100%;
    }

    .createTaskForm input,
    .createTaskForm textarea {
        width: 80%;
    }

    .createTaskForm button {
        width: 80%;
    }
}