.hamburgerMenu {
  display: none;
  cursor: pointer;
  margin: 0.5rem;
}

@media (max-width: 600px) {
  .hamburgerMenu {
    display: block;
  }
}

.hamburgerMenu .line {
  width: 3rem;
  height: 0.25rem;
  background-color: #97CED7;
  margin: 0.3rem 0;
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: 1rem;
  background-color: var(--background-color);
  box-shadow: var(--button-color) 0 0 10px;
  padding: 1rem;
  border-radius: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.menu.expanded {
  display: block;
}

@media (max-width: 600px) {
  .menu.expanded {
    display: block;
  }
}

.menu a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out;
}

.menu a:hover {
  background-color: #f0f0f0;
}
