
@media (min-width: 576px) {
  .horizontalMenu {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .horizontalMenu {
    display: none;
  }
}

.horizontalMenu a {
    padding: 0.5rem 1rem;
    background-color: var(--button-color);
    color: #1A1A1A;
    text-decoration: none;
    border-radius: 0.5rem;
    border: 2px solid black;
}

.horizontalMenu a:hover {
    background-color: #7DB5CD;
}

