#updateProfileFormBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px outset black;
  border-radius: 5px;
  background-color: var(--background-color);
  width: 600px; /* Increase the width */
  height: 500px; /* Increase the height */
}
  
  #updateProfileFormBox form {
    width: 100%;
  }
  
  #updateProfileFormBox input, button {
    margin: 0 0 10px 0;
    width: 80%;
  }
  
  #updateProfileFormBox button {
    background-color: var(--button-color);
    height: 44px;
    border-radius: 5px;
  }
  
  #passwordError {
    color: red;
  }
  
  .profile {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    border: none; 
    border-radius: 5px;
    background-color: var(--background-color);
  }


@media (max-width: 600px) {
  #updateProfileFormBox {
    width: 100%;
    height: auto;
  }
}
